<button class="btn btn-primary btn-block" (click)="show()">Добавить должность</button>

<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Новая должность</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="addNewPositionForm">
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.description.errors }" />
                <div *ngIf="submitted && controls.description.errors" class="invalid-feedback">
                  <div *ngIf="controls.description.errors.required">Требуется название должности</div>
                </div>
              </div>
              <div class="col-6 align-self-center ">
                <label>Должность</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Закрыть</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Добавить</button>
      </div>
    </div>
  </div>
</div>
